<%- include('../header.ejs') %>
    
<br><br>
    <!-- Main content -->
    <div class="content mt-5">
        <div class="container-fluid">
            <div class="card">
                
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone no.</th>
                                <th>dob</th>
                                <th>Address</th>
                                <th>Gender</th>
                                <th>Education</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td>
                                        <%= d.name %>
                                    </td>
                                    <td>
                                        <%= d.email %>
                                    </td>
                                    <td>
                                        <%= d.phone %>
                                    </td>
                                    <td>
                                        <%= d.dob %>
                                    </td>
                                    <td>
                                        <%= d.address %>
                                    </td>
                                    <td>
                                        <%= d.gender %>
                                    </td>
                                    <td>
                                        <%= d.education %>
                                    </td>
                                </tr>
                                    <tr>
                                        <td>Other browsers</td>
                                        <td>All others</td>
                                        
                                    </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone no.</th>
                                <th>dob</th>
                                <th>Address</th>
                                <th>Gender</th>
                                <th>Education</th>
                            </tr>
                        </tfoot>
                    </table>   
                    <center>
                        <a href="/admin/courseDisplay" class="btn btn-info btn-lg">Back</a>
                    </center>        
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
    <%- include('../footer.ejs') %>